@inherits LayoutComponentBase

<MudLayout>
    @* ----- TopBar Begin   ----- *@

    <MudAppBar Color="Color.Primary" Fixed="true">
        <MudIconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />  @*Drawer Button*@
        <MudText Style="margin-left:1rem;" Typo="Typo.h5">Binary Beast - Yeet</MudText>     @*Application Title*@
    </MudAppBar>

    @* ----- TopBar End   ----- *@

    @* ----- Drawer Start   ----- *@

    @* ----- Drawer allows the side bar to be toggle   ----- *@
    <MudDrawer @bind-Open="@open" Clipped="true" Elevation="1">
        <SideBarNav />
    </MudDrawer>

    @* ----- Drawer End   ----- *@

    @* ----- MainContent Start   ----- *@

    <MudMainContent>
        @* -----  Div pushes the content away from the sides. Looks much better   ----- *@
        <div class="ml-2 mt-2">
            @Body
        </div>
    </MudMainContent>

    @* ----- MainContent End   ----- *@
</MudLayout>

@code{

    bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }
}